body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: $font-poppins;
    background-color: $body !important;
}
.body{
    @media screen and (min-width:1600px){
        padding: 0px 20px !important;
    }
}
.job-body{
    overflow-x: hidden;
}


