.candidate-container {
    padding: 0px 40px;
    @media only screen and(max-width:767px){
        padding: 0px  20px;
    }
    @media only screen and(max-width:767px){
        padding: 0px  10px;
    }
    @media only screen and(max-width:375px){
        padding: 0px 8px;
    }
}

.hero-section {
    background-image: url('/images/candidate-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 20px 40px 100px 40px;
    @media only screen and(max-width:991px){
        background-image: none;
    }
    @media only screen and(max-width:767px){
        padding: 20px 20px 100px 20px;
    }
    @media only screen and(max-width:767px){
        padding: 20px 10px 100px 10px;
    }
    @media only screen and(max-width:375px){
        padding: 8px 10px 100px 8px;
    }

    &-text {
        @media only screen and(max-width:991px){
          order: 2;
        }
        p {
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            color: #212325;
        }

        ul {
            list-style: none;

            li {
                svg {
                    margin-right: 5px;
                }

                font-style: normal;
                font-weight: 500;
                font-size: 23px;
                line-height: 32px;
                text-transform: capitalize;
                font-feature-settings: 'pnum'on,
                'lnum'on;
                color: #1D2B4F;
                @media only screen and(max-width:500px){
                    font-size: 18px;
                    line-height: unset;
                }
                @media only screen and(max-width:400px){
                    font-size: 16px;
                    line-height: unset;
                }
                @media only screen and(max-width:375px){
                    font-size: 14px;
                    line-height: unset;
                }

            }
        }
    }

    &-video {
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        .video {
            height: 400px;
            width: 550px !important;
            width: auto;
            border-radius: 7px;
            @media only screen and(max-width:991px){
                width: 100% !important;
            }
        }
    }



}

.buy-form {
    & .form-label {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #515151;
    }

    & .form-control {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #000000;
        background: #FFFFFF;
        border: 1px solid #C2C2C2;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 10px 8px !important;
    }

    textarea {
        width: 100%;
        border: 1px solid #C2C2C2 !important;
        box-sizing: border-box !important;
        border-radius: 4px !important;
        padding: 10px 8px !important;
    }

    .buy-btn {
        background-color: #157BFB;
        color: white;
        padding: 13px 20px;
        border-radius: 4px;
        text-decoration: none;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }
    
}

.candidate-heading {
    display: flex;
    align-items: center;

    h2 {
        white-space: nowrap;
        margin-right: 10px;
    }
}

.candidate-line {
    height: 2px;
    background: #B9B9B9;
    width: 100%;
}

.no-thanks{
    text-decoration: none;
    color: #157BFB;
    border:2px solid #157BFB;
    padding: 7px 70px;
    border-radius: 4px;
}