.search__bar {
    background: #FFFFFF;
    border: 1px solid #AFAFAF;
    box-sizing: border-box;
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden !important;


    input {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: black;
        border: none !important;
        padding: 12px 40px;
        backface-visibility: none !important;
        width: 75%;
        border-right: 1px solid #E6E6E6 !important;
        margin: 12px 0px;

        @media only screen and(max-width:1120px) {
            width: 70%;
        }

        @media only screen and(max-width:991px) {
            width: 75%;
        }

        @media only screen and(max-width:930px) {
            width: 70%;
        }

        @media only screen and(max-width:825px) {
            width: 65%;
        }

        &::placeholder {
            color: #ADADAD;
        }

        &:active,
        &:focus {
            outline: none !important;
            border: none !important;
        }
    }

    &-btn {
        width: 27%;
        display: flex;
        justify-content: space-evenly !important;

        @media only screen and(max-width:1120px) {
            width: 30%;
        }

        @media only screen and(max-width:991px) {
            width: 27%;
        }

        @media only screen and(max-width:930px) {
            width: 30%;
        }

        @media only screen and(max-width:825px) {
            width: 35%;
        }

        .btn1 {
            background-color: transparent !important;
            border: none !important;
            display: flex;
            align-items: center;

            a {
                background-color: #E6F1FF;
                border-radius: 4px;
                padding: 13px 20px;
                text-decoration: none;
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                color: #157BFB;

                @media only screen and(max-width:1300px) {
                    font-size: 16px !important;
                    padding: 12px 18px;
                }

            }

            svg {
                margin: 0px 5px;
            }
        }

        .btn2 {
            background-color: transparent !important;
            border: none !important;
            display: flex;
            align-items: center;


            a {
                background: #157BFB;
                border-radius: 4px;
                padding: 13px 25px;
                color: white;
                text-decoration: none;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                color: #FFFDFD;

                @media only screen and(max-width:1300px) {
                    font-size: 16px !important;
                    padding: 12px 18px;
                }


            }

            svg {
                margin: 0px 5px;
            }
        }
    }


}

.results {
    p {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
    }
}

.line-border {
    border-radius: 24px;
    border-bottom: 1px solid #CDCDCD;
}

.job-btn {
    background-color: transparent !important;
    border: none !important;

    @media only screen and(max-width:991px) {
        margin-top: 20px;
        width: 100%;
    }

    a {
        background: #157BFB;
        border-radius: 4px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px !important;
        line-height: 27px;
        color: #FFFDFD;
        padding: 17px 38px;
        text-decoration: none;
        white-space: nowrap;

        @media only screen and(max-width:1300px) {
            font-size: 16px !important;
            padding: 14px 34px;
        }

        @media only screen and(max-width:991px) {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}


.bg-card2 {
    background: #FFFFFF;
    border: 1px solid #B1B1B1;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
    padding: 8px 0px;

}

.detail__job-div {
    margin-top: 50px !important;

    .main-heading {
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 28px;
        color: #000000;

    }
}



// Jobs list with filer
.state__list {
    .active-port {
        background: #E5F1FF;
        border-radius: 4px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #157BFB;
        border: none !important;
        padding: 6px 15px;
    }

    button {
        border: 1px solid #8C8C8C;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 6px 15px;
        font-size: 18px;
        line-height: 27px;
        color: #555353;

        @media only screen and (max-width:1200px) {
            padding: 6px 10px;
            font-size: 16px;
        }

    }


}

.gallery__cards2 {
    background: #FFFFFF !important;
    border: 1px solid #B1B1B1 !important;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px !important;
    margin-top: 10px;

    @media only screen and (max-width:1300px) {
        overflow-x: scroll;
    }

    .headings {
        text-decoration: none;
        list-style: none;
        display: flex;
        justify-content: space-between;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }

    // .gallery__cards{
    //     // display: flex;
    //     // flex-direction: column;
    //     // width: 100% !important;
    // }

    .jobs-table {
        th {
            text-align: center;
        }

        td {
            border: none !important;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 19px;
            color: #212325;
            text-align: center;
            width: fit-content;

            h3 {
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                color: #157BFB;
                white-space: nowrap;
            }

            span {
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 19px;
                color: #212325;
            }

            p {
                font-weight: 500;
                font-size: 13px;
                line-height: 19px;
                color: #212325;
            }

            .state {
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 19px;
                color: #2BC155;

                &::before {
                    content: ' ';
                    height: 7px;
                    width: 7px;
                    border-radius: 100%;
                    display: inline-block;
                    background-color: #2BC155;
                }
            }

            tr {
                display: flex;
                width: 100% !important;
                flex-basis: 100%;
            }
        }

        th {
            border: none !important;
            border-bottom: 1px solid #B1B1B1 !important;
        }
    }
}

.gallery__cards-item {
    position: unset !important;
    transition: all 0s !important;
    border-bottom: 1px solid #B1B1B1 !important;
}



/* Style the tab */
.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    background-color: white;
    padding: 0px 10px 0px 20px;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 3px 16px;
    transition: 0.3s;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #555353;

}

/* Change background color of buttons on hover */
.tab button:hover {
    border-bottom: 1px solid #157BFB;
}

/* Create an active/current tablink class */
.tab button.active {
    color: #157BFB;
    border-bottom: 1px solid #157BFB;

}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.overview__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .edit__job-btn {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #157BFB;
        padding: 8px 20px;
        border: 2px solid #157BFB;
        box-sizing: border-box;
        border-radius: 4px;
        text-decoration: none;
    }

    .edit__job-btn2 {
        background-color: #157BFB;
        color: white;
    }
}

.overview__content {
    background-color: #E6E6E6;
    border-radius: 7px;
    padding: 10px 15px;

    .keywords {
        display: flex;

        span {
            font-weight: 500;
            font-size: 17px;
            line-height: 25px;
            color: #444447;

        }

        &-key {
            display: flex;
            flex-wrap: wrap;

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: #FFFFFF;
                background: #157BFB;
                border-radius: 30px;
                padding: 4px 7px;
                margin: 3px !important;

                @media only screen and (max-width:1050px) {
                    font-size: 12px;
                }
            }
        }

    }
}

.general-text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #272626;
    margin-bottom: 3px !important;
}